.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.nav-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.nav-elements{
  width: 100%;
}

.nav-elements ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-elements ul li{
  margin: 10px;
}

.nav-elements ul li a{
  text-decoration: none;
  color:black;
  transition: 0.6s ease;
}

.nav-elements ul li a:hover{
  font-size: larger;
 
}

/*main*/

.main-container{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../src/img/main.jpg');
  
}

.main-info{
  width: 70%;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.555);
  color: white;
}

.main-info-header{
  font-size: 3rem;
}

.main-info-text{
  font-size: 1.5rem;
}






.data-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.search-container input{
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

.search-container button{
  
  width: 30%;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.6s ease;
}

.search-container button:hover{
  background-color: black;
  color: white;
}

