.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.nav-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.nav-elements{
  width: 100%;
}

.nav-elements ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-elements ul li{
  margin: 10px;
}

.nav-elements ul li a{
  text-decoration: none;
  color:black;
  transition: 0.6s ease;
}

.nav-elements ul li a:hover{
  font-size: larger;
 
}

/*main*/

.main-container{
  width: 100vw;
  height: 60vw;
  display: flex;
  flex-direction: column;
}

.data-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

